
.task-listview li p {
  font-size: 80%;
  font-weight: bold;
}

.task-listview .from-date,
.task-listview .to-date {
  color: #A52A2A;
}

.task-listview .state {
  color: green;
}

/*
 * fix blank square when both collapsible listview and counter are present
 */

.ui-listview > .ui-li-has-count > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-count, .ui-listview > .ui-li-divider.ui-li-has-count {
  padding-right: 0;
}

/*
 * on top of theme
 */

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background-image: url('patterns/tweed_@2X.png');
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  background-image: url('patterns/pw_maze_white.png');
}

.ui-icon-delete:after {
  background-color: #cc0000 !important;
}



/****/

.ui-dialog-background {
  opacity: 0.5;
  display: block !important;
  -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog-background.pop.in {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in;
}

.ui-dialog {
  min-height: 100% !important;
  background: transparent !important;
}



