
.initHandler:before {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 115%;
  z-index: 999999;
  content: "Loading...";
  text-align: center;
  color: #bbb;
  text-shadow: none;
  line-height: 150px;
  vertical-align: bottom;
  background-image: url('patterns/tweed_@2X.png');
  background-color: gray;
}


.document-listview li p {
  font-size: 80%;
}

.document-listview li p.description {
  font-weight: bold;
}

.document-listview .from-date,
.document-listview .to-date {
  font-weight: bold;
  color: #A52A2A;
}

.document-listview .state {
  font-weight: bold;
  color: green;
}

#metadata-form-container .ui-field-contain {
  margin: 0;
}


/**
 * Alignment issue when nesting <label> and <input>
 */

div.ui-field-contain > label {
  width: 100%;
  float: none;
}

div.ui-field-contain > label > [class*="ui-"] {
  display: inline-block;
  vertical-align: middle;
  width: 78%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}



/*
 * Fix for disappearing textarea issue
 * (https://github.com/jquery/jquery-mobile/issues/6801)
 */

textarea {
  position: relative !important;
}


/*
 * Small alignment issue with select menu in header
 */

.ui-header .ui-select {
  margin-top: 0;
  margin-bottom: 0;
  position: static;
}


/*
 * For the renderJS gadgets, like text editor etc.
 */

#attachment-container iframe {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  border: 0;
}

#attachment-container {
  padding: 0;
}


/*
 * on top of theme
 */

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background-image: url('patterns/tweed_@2X.png');
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  background-image: url('patterns/pw_maze_white.png');
}

.ui-icon-delete:after {
  background-color: #cc0000 !important;
}

.ui-dialog-contain .ui-icon-delete:after {
  background-color: gray !important;
}

.field-size-short .ui-input-text {
  width: 150px !important;
}

#metadata-form-container label > span {
  width: 90px;
  display: inline-block;
}

